<div class="main" *ngIf="todos?.length>0; else noItems">
  <ul class="todo-list">
    <li *ngFor="let todo of todos" [class.completed]="todo.complete">
      <todo-list-item [editState]="editState" [todo]="todo" [todoToEditId]="todoToEdit.id" 
      (toggleComplete)="onToggleTodoComplete($event)"
       (remove)="onRemoveTodo($event)"
       (edit)="onEdit($event)"
       (update)="onUpdate($event)"></todo-list-item>
    </li>
  </ul>
</div>
<ng-template #noItems>
  <hr>
  <h5>There are nothing to do</h5>
</ng-template>